{
  "overrides": [
    {
      "files": ["*.graphql", "*.gql"],
      "parser": "@graphql-eslint/eslint-plugin",
      "plugins": ["@graphql-eslint"],
      "rules": {
        "@graphql-eslint/known-type-names": "error"
      }
    }
  ],
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "rules": {
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "spaced-comment": [
      "error",
      "always",
      { "markers": ["/ <reference"] }
    ],
    "import/no-extraneous-dependencies": ["off", {
      "devDependencies": true,
      "optionalDependencies": false
    }],
    "max-len": ["error", {"code": 200}],
    "@next/next/no-img-element": ["off"],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["off"],
    "import/extensions": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "no-return-assign": ["off"],
    "react/display-name": ["off"]
  }
}
