version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      timezone: Asia/Tokyo
      time: "12:00"
    allow:
      - dependency-type: all
    rebase-strategy: auto
    assignees:
      - poad
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: npm
    directories:
      - '/amplify/amplify-cdk/app/'
      - '/amplify/amplify_nextapp/'
      - '/amplify/amplify-cdk/infra/'
      - '/codebuild/custom-image-test/'
      - '/codebuild/codebuild-gha-lambda-runner-example/'
      - '/codebuild/codebuild-webhook-project/infra/'
      - '/codeconections/'
      - '/codepipeline/adoptium-temurin-jib/infra/'
      - '/codepipeline/codebuild-custom-image/java-adopt-base/infra/'
      - '/codepipeline/codebuild-github-tag/infra/'
      - '/codepipeline/docker-build/infra/'
      - '/codepipeline/vulnerability-scan/infra/'
      - '/ec2-bluegreen/cloudfront/'
      - '/ec2-bluegreen/ec2/'
      - '/infra/acm/'
      - '/infra/ecs/'
      - '/infra/s3/'
      - '/infra/vpc/'
      - '/lambda/apollo-server-url/'
      - '/lambda/eventbridge-lambda/'
      - '/lambda/hello-mcp-server/'
      - '/lambda/layer/functions/function/handler/'
      - '/lambda/layer/layer/'
      - '/lambda/layer/layer/src/nodejs/'
      - '/lambda/rust-runtime/'
      - '/node-sign-v4-example/'
      - '/bedrock/agentcore-runtime-agent-example/'
      - '/bedrock/agentcore-runtime-agent-example/app/'
      - '/bedrock/agentcore-runtime-mcp-example/'
      - '/bedrock/agentcore-runtime-mcp-example/mcp-server/'
    schedule:
      interval: daily
      timezone: Asia/Tokyo
      time: "12:00"
    allow:
      - dependency-type: all
    rebase-strategy: auto
    assignees:
      - poad
    groups:
      npm:
        patterns:
          - "*"

  - package-ecosystem: gradle
    directories:
      - '/lambda/rust-runtime/lambda/'
    schedule:
      interval: daily
      timezone: Asia/Tokyo
      time: "12:00"
    allow:
      - dependency-type: all
    rebase-strategy: auto
    assignees:
      - poad
    groups:
      gradle:
        patterns:
          - "*"

  - package-ecosystem: cargo
    directories:
      - '/actix-web-reqwest-example/'
    schedule:
      interval: daily
      timezone: Asia/Tokyo
    allow:
      - dependency-type: all
    rebase-strategy: auto
    assignees:
      - poad
    groups:
      actix-web-reqwest:
        patterns:
          - '*'
