{
  "dev": {
    "region": "us-west-2",
    "domain": "YOUR_COGNITO_USER_POOL_DOMAIN",
    "auth0Domain": "YOUR_AUTH0_DOMAIN_PREFIX_WITH_REGION",
    "providers": "Auth0,Azure",
    "triggers": {
      "preSignUp": true,
      "preAuth": false,
      "postAuth": true,
      "defAuthChallenge": false,
      "createAuthChallenge": false,
      "verifyAuthChallenge": false,
      "postConfirm": false,
      "preGenToken": false,
      "customMessge": false,
      "userMigrate": false
    },
    "groups": [ 
      {
        "id": "Sub1",
        "name": "sub1",
        "admin": true
      },
      {
        "id": "Sub2",
        "name": "sub2",
        "admin": false
      }
    ]
  }
}
