{
  "app": "npx ts-node --prefer-ts-exts bin/infra.ts",
  "watch": {
    "include": [
      "**"
    ],
    "exclude": [
      "README.md",
      "cdk*.json",
      "**/*.d.ts",
      "**/*.js",
      "tsconfig.json",
      "package*.json",
      "yarn.lock",
      "node_modules",
      "test"
    ]
  },
  "context": {
    "@aws-cdk/aws-apigateway:usagePlanKeyOrderInsensitiveId": true,
    "@aws-cdk/core:stackRelativeExports": true,
    "@aws-cdk/aws-rds:lowercaseDbIdentifier": true,
    "@aws-cdk/aws-lambda:recognizeVersionProps": true,
    "@aws-cdk/aws-cloudfront:defaultSecurityPolicyTLSv1.2_2021": true,
    "dev": {
      "region": "us-west-2",
      "domain": "YOUR_COGNITO_USER_POOL_DOMAIN_FOR_ADMIN",
      "endUserDomain": "YOUR_COGNITO_USER_POOL_DOMAIN_FOR_END_USERS",
      "adminUserPool": "YOUR_COGNITO_USER_POOL_NAME_FOR_ADMIN",
      "endUserPool": "YOUR_COGNITO_USER_POOL_NAME_FOR_END_USER",
      "provider": "AdminPool",
      "groupRoleClassificationTagName": "Type",
      "groupRoleClassificationTagValue": "group",
      "testRoles": 2
    }
  }
}