{
  "dev": {
    "region": "us-west-2",
    "domain": "YOUR_COGNITO_USER_POOL_DOMAIN_FOR_ADMIN",
    "endUserDomain": "YOUR_COGNITO_USER_POOL_DOMAIN_FOR_END_USERS",
    "adminUserPool": "YOUR_COGNITO_USER_POOL_NAME_FOR_ADMIN",
    "endUserPool": "YOUR_COGNITO_USER_POOL_NAME_FOR_END_USER",
    "providers": "AdminPool",
    "groupRoleClassificationTagName": "Type",
    "groupRoleClassificationTagValue": "group",
    "testRoles": 2
  }
}
