{
  "client_id": "${CLIENT_ID}",
  "endpoint": "https://${COGNITO_DOMAIN}.execute-api.us-west-2.amazonaws.com/oauth/",
  "device_code_path": "device/code",
  "token_path": "token",
  "scope": "profile,email,openid",
  "api_endpoint": "https://${COGNITO_DOMAIN}.auth.us-west-2.amazoncognito.com/",
  "user_info_api": "oauth2/userInfo"
}
