
auth0_domain=${AUTH0_FQDN}
user_info_endpoint=${USER_INFO_API_ENDPOINT}
user_info_path=/userInfo
oauth.client_id=${CLIENT_ID}
oauth.endpoint=${OAuth PR base endpoint}
oauth.device_code_path=${OAuth PR device code endpoint}
oauth.token_path=${OAuth token endpoint}
oauth.scope=${OAuth scopes}
oauth.audience=${OAuth audience (optional)}
api_endpoint=${API provider base endpoint}
user_info_api=${user info api endpoint}