./node_modules
.env*
Dockerfile
eslint.config.js
eslint.config.ts
tsconfig-test.json
tsconfig-eslint.json
viteest.config.ts
.aws-sam
.DS_Store
.gitignore
.npmignore
cdk.json
README.md
.dockerignore
.env.development
