{
  "app": "npx ts-node --prefer-ts-exts bin/tiny-device-flow.ts",
  "context": {
    "@aws-cdk/aws-apigateway:usagePlanKeyOrderInsensitiveId": true,
    "@aws-cdk/core:enableStackNameDuplicates": "true",
    "aws-cdk:enableDiffNoFail": "true",
    "@aws-cdk/core:stackRelativeExports": "true",
    "@aws-cdk/aws-ecr-assets:dockerIgnoreSupport": true,
    "@aws-cdk/aws-secretsmanager:parseOwnedSecretName": true,
    "@aws-cdk/aws-kms:defaultKeyPolicies": true,
    "@aws-cdk/aws-s3:grantWriteWithoutAcl": true,
    "@aws-cdk/aws-ecs-patterns:removeDefaultDesiredCount": true,
    "@aws-cdk/aws-rds:lowercaseDbIdentifier": true,
    "@aws-cdk/aws-efs:defaultEncryptionAtRest": true,
    "@aws-cdk/aws-lambda:recognizeVersionProps": true,
    "dev": {
      "region": "us-west-2",
      "domain": "YOUR_COGNITO_USER_POOL_DOMAIN_PREFIX",
      "userPool": "YOUR_COGNITO_USER_POOL_NAME",
      "responseType": "CODE_OR_TOKEN",
      "identityProvider": "YOUR_COGNITO_IDENTITY_PROVIDER_NAME"
    }
  }
}
