{
  "app": "npx ts-node --prefer-ts-exts bin/tiny-device-flow.ts",
  "watch": {
    "include": [
      "**"
    ],
    "exclude": [
      "README.md",
      "cdk*.json",
      "**/*.d.ts",
      "**/*.js",
      "tsconfig.json",
      "package*.json",
      "yarn.lock",
      "node_modules",
      "test"
    ]
  },
  "context": {
    "@aws-cdk/aws-apigateway:usagePlanKeyOrderInsensitiveId": true,
    "@aws-cdk/core:stackRelativeExports": true,
    "@aws-cdk/aws-rds:lowercaseDbIdentifier": true,
    "@aws-cdk/aws-lambda:recognizeVersionProps": true,
    "@aws-cdk/aws-cloudfront:defaultSecurityPolicyTLSv1.2_2021": true,
    "dev": {
      "region": "us-west-2",
      "domain": "YOUR_COGNITO_USER_POOL_DOMAIN_PREFIX",
      "userPool": "YOUR_COGNITO_USER_POOL_NAME",
      "responseType": "CODE_OR_TOKEN",
      "identityProvider": "YOUR_COGNITO_IDENTITY_PROVIDER_NAME",
      "scopes": {
        "phone": false,
        "email": true,
        "openid": true,
        "profile": false,
        "aws.cognito.signin.user.admin": false
      }
    }
  }
}
