# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI (Cognito)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

permissions:
  actions: read
  checks: write
  contents: write
  deployments: none
  id-token: write
  issues: none
  packages: none
  pull-requests: write
  repository-projects: read
  security-events: write
  statuses: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        target: [
          ./,
          ./cognito/tiny-device-flow,
          ./cognito/tiny-device-flow/pages,
          ./cognito/cognito-saml-next-js/webapp,
          ./cognito/cognito-saml-next-js/infra/aws,
          ./cognito/cognito-admin/app,
          ./cognito/cognito-admin/infra,
          ./cognito/authorizer-example/api,
          ./cognito/authorizer-example/front,
          ./cognito/trigger-examples,
        ]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.6.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -g yarn aws-cdk typescript
    - run: corepack enable
    - run: corepack prepare yarn@stable --activate
    - name: build
      env:
        BASE_PATH: /oauth/device/activate
      working-directory: ${{ matrix.target }}
      run: yarn install && yarn build
