# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

permissions:
  actions: read
  checks: write
  contents: write
  deployments: none
  id-token: write
  issues: none
  packages: none
  pull-requests: write
  repository-projects: read
  security-events: write
  statuses: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        target: [
          ./amplify/amplify_nextapp,
          ./amplify/amplify-cdk/app,
          ./amplify/amplify-cdk/infra,
          ./infra/s3,
          ./cloud9,
          ./infra/ecs,
          ./codebuild/custom-image-test,
          ./codebuild/codebuild-webhook-project/infra,
          ./lambda/apollo-server-url,
          ./lambda/apollo-server-api-gateway,
          ./lambda/eventbridge-lambda,
          ./lambda/lambda-examples,
          ./codepipeline/adoptium-temurin-jib/infra,
          ./codepipeline/codebuild-custom-image/java-adopt-base/infra,
          ./codepipeline/codebuild-github-tag/infra,
          ./codepipeline/docker-build/infra,
          ./codepipeline/vulnerability-scan/infra,
          ./node-sign-v4
        ]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.6.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -g yarn aws-cdk typescript
    - run: corepack enable
    - run: corepack prepare yarn@stable --activate
    - name: build
      env:
        BASE_PATH: /oauth/device/activate
      working-directory: ${{ matrix.target }}
      run: yarn install --immutable && yarn build
