# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'lambda/layer/**'
      - 'lambda/container/**'
      - 'amplify/**'
  pull_request_target:
    branches: [ main ]
    paths-ignore:
      - './lambda/layer/**'
      - 'lambda/container/**'
      - 'amplify/**'

  workflow_dispatch:

permissions:
  actions: read
  checks: write
  contents: write
  deployments: none
  id-token: write
  issues: none
  packages: none
  pull-requests: write
  repository-projects: read
  security-events: write
  statuses: write

jobs:
  configure:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
    - name: Pull request auto merge enabler
      if: github.event_name == 'pull_request'
      uses: poad/github-pull-request-auto-merge-enable-action@v1.0.1
      continue-on-error: true
      with:
        pull_request_id: ${{ github.event.pull_request.node_id }}
        github_token: ${{ secrets.PERSONAL_TOKEN_FOR_GITHUB_ACTIONS }}
        repository: ${{ github.event.repository.name }}
        owner: ${{ github.repository_owner }}
        merge_method: SQUASH      

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x]
        target: [
          ./codebuild/custom-image-test,
          ./lambda/cognito-console,
          ./lambda/container/simple,
          ./lambda/container/hello-rust-lambda,
          ./lambda/python,
          ./cognito/tiny-device-flow,
          ./cognito/tiny-device-flow/pages,
          ./cognito/cognito-saml-next-js/webapp,
          ./cognito/cognito-saml-next-js/infra,
          ./cognito/cognito-admin/app,
          ./cognito/cognito-admin/infra
        ]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.0.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -g yarn aws-cdk typescript
    - name: build
      env:
        BASE_PATH: /oauth/device/activate
      run: |
        cd ${{ matrix.target }} && \
        yarn install && \
        yarn build
