# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy

on:
  # push:
  #   branches: [ main ]

  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Log in to Azure using OIDC
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.ARM_CLIENT_ID }}
        tenant-id: ${{ secrets.ARM_TENANT_ID }}
        subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        allow-no-subscriptions: true

    - uses: actions/checkout@v4

    - uses: hashicorp/setup-terraform@v3
      with:
        cli_config_credentials_token: ${{ secrets.TERRAFORM_CLOUD_TOKEN }}
    - name: Log in to Azure using OIDC
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.ARM_CLIENT_ID }}
        tenant-id: ${{ secrets.ARM_TENANT_ID }}
        subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        allow-no-subscriptions: true

    - uses: pnpm/action-setup@v4
      name: Install pnpm
      id: pnpm-install
      with:
        version: latest
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile]

    - name: Use Node.js 18.x
      uses: actions/setup-node@v4.0.2
      with:
        node-version: 18.x
        check-latest: true
        cache: pnpm

    - name: pnpm install
      working-directory: cognito/cognito-saml-next-js/infra/azuread
      run: pnpm -r install

    - name: Deploy
      uses: hashicorp/terraform-cdk-action@v5.0.18
      env:
        CI: true
        ARM_USE_OIDC: true
        ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
        ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      with:
        terraformVersion: 1.3.7
        cdktfVersion: 0.15.1
        workingDirectory: cognito/cognito-saml-next-js/infra/azuread
        stackName: AzureAD
        mode: auto-approve-apply
        terraformCloudToken: ${{ secrets.TERRAFORM_CLOUD_TOKEN }}
        githubToken: ${{ secrets.GITHUB_TOKEN }}
